@import '../variables';

.header {
  border-bottom: 2px solid $gray-line;
  padding: 20px 0;
  align-items: center;

  & a:hover {
    background-image: #581697;
    background-image: linear-gradient(to bottom, #581697 0%, #9d41fb 50%, #581697 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  &__logo {
    background-image: #581697;
    background-image: linear-gradient(to bottom, #581697 0%, #9d41fb 50%, #581697 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 56px;
    font-weight: bold;
  }
  &__tel {
    color: #5b189b;
    font-size: 22px;
    font-weight: normal;
  }

  &__menu a {
    text-transform: uppercase;
    font-size: 22px;
    margin-right: 60px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
