@import '../variables';

.works {
  display: flex;
  color: #000;
  padding-bottom: 30px;
  &__title {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 60px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  &__siteS {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &__siteM {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__siteBlock {
    margin: 30px;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    border: 10px solid #8435d5;
  }
  &__siteBlock h3 {
    font-size: 50px;
    margin-top: 12px;
    font-weight: bold;
  }
  &__img img {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba($color: #2f2f2f, $alpha: 0.5);
  }
}
