@import '../variables';

.about {
  display: flex;
  color: #000;
  &__title {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 60px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  &__text {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
  }

  &__ruk {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__ruk img {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__ruk p {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  &__twodev {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &__dev {
    display: flex;
    align-items: center;
    margin-right: 60px;
    margin-bottom: 40px;
  }
  &__dev img {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__dev p {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
  }
}
